{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <!-- Landing page del sito -->
    <div style="width: 100%; height: 40vh; background: url('/static/images/banner.jpg') no-repeat center; background-size: cover;">
        <h1 style="color: white; text-align:center; padding-top: 14vh">MyGym</h1>
    </div>

    <div class="container">
        <h2 style="text-align: center; margin:20px">Benvenuto sul sito della nostra palestra!</h2>
        <h3 style="text-align: center">Cosa ti offriamo</h3>

        <!-- Visualizzo i corsi a cui è possibile iscriversi -->
        <div class="row">
            {% for corso in corsi %}
                {% if corso.posti_rimanenti > 0 %}
                <div class="card col-mg-3" style="margin-bottom: 10px; width: 24%; margin-right: 0.5%; margin-left: 0.5%">
                    <img class="card-img-top" src="{{ corso.fotoURL }}" style="width: 100%; height: 100%">
                    <div class="card-body">
                        <h6 class="card-title">{{ corso.nome }}</h6>
                        <hr>
                        <p class="card-text">{{ corso.descrizione }}</p>
                        <p class="card-text">{{ corso.prezzo|floatformat:2 }}€</p>
                        <a href="{% url 'gym:corso-dettagli' corso.id %}" class="btn btn-outline-secondary add-btn">Prenotati ora!</a>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}