{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Iscriviti al corso{% endblock %}

{% block content %}

    <div class="container">

        <form method="post">
            {% csrf_token %}
            <p>Sono rimasti {{ corso.posti_rimanenti }} posti per il corso di {{ corso.nome }}. </p>
            <p>Seleziona per quanti mesi vuoi iscriverti al prezzo di {{ corso.prezzo }}€/mese.</p>
            {{ form|crispy }}
            <input class="btn btn-primary" type="submit" value="Iscriviti">
        </form>

    </div>

{% endblock %}