{% extends 'base.html' %}
{% load static %}
{% block title %}Sei un PT?{% endblock %}

{% block content %}

    <!-- Pagina che da la possibilità ad un utente anonimo di iscriversi come pt -->
    <div style="width: 100%; height: 40vh; background: url('/static/images/personal.jpg') no-repeat center; background-size: cover;">
        <h1 style="color: white; text-align:center; padding-top: 14vh">Vuoi diventare uno dei nostri PT?</h1>
    </div>

    <div class="container mt-2">

        <h4>Vuoi diventare un personal trainer presso la nostra palestra?</h4>
        <p>Registrati come tale!</p>
        <a class="btn btn-primary" href="{% url 'gym:pt-signup' %}">Sono un PT</a>

    </div>

{% endblock %}