{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Registrati{% endblock %}

{% block content %}
    <div style="width: 100%; height: 30vh; background: url('/static/images/clouds.jpg') no-repeat center; background-size: cover; margin-bottom: 10px">
        <h1 style="color: white; text-align:center; padding-top: 8vh">Non sei ancora nostro cliente? Registrati?</h1>
    </div>

    <div class="container card mt-1">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mb-1">Registrati</button>
        </form>
    </div>

{% endblock %}